$primaryColor: #72b63b;
$borderDarkColor: #171d26;
$borderLightColor: #e8eaed;
$upPriceColor: #137333;
$upPriceBackgroundColor: #e6f4ea;
$dropPriceColor: #a50e0e;
$dropPriceBackgroundColor: #fce8e6;
$hoverColor: #fafafa;

$whiteColor: #ffffff;