@import "../../App/styles/mixins.scss";

.wrapper {
    max-width: 1400px;

    margin: 0 auto;
    padding: 0 30px 100px 30px;
}

.main {
    max-width: 900px;
    margin: 0 auto;

    &__search {
        display: flex;
    flex-direction: column;

    }
}